.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  padding: 12px 40px;
}

.nav-logo {
  color: #ad9b67;
  font-size: 22px;
  font-weight: bold;
  
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f4b400;
}

.logout-btn {
  background: #b22222;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  opacity: 0.9;
}

/* Login/Register Buttons */
.auth-btn {
  background: linear-gradient(
    135deg,
    #c9a24d,
    #b08d3c
  );
  color: #1c1c1c !important;
  padding: 10px 18px;
  border-radius: 25px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.auth-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(201, 162, 77, 0.4);
  color: #1c1c1c !important;
}

